{{- /* create context from extended or simple hook */ -}}
{{- $context := dict -}}
{{- if reflect.IsMap . -}}
  {{- /* extended use case */ -}}
  {{- $context = merge $context . }}
{{- else -}}
  {{- /* simple use case */ -}}
  {{- $context = merge $context (dict "hook" . "context" dict) -}}
{{- end -}}

{{- /* a quick note */ -}}
{{- partials.Include "debug.html" (dict
    "message" (printf "dnb-hooks - see %s for details" site.Params.dnb.hooks.hooklink)
    "context" .
    "severity" "info"
    "level" 9
) -}}

{{- /* create hook paths and variables */ -}}
{{- $partialHook := printf "partials/hooks/%s.html" $context.hook -}}
{{- $partialHookCached := printf "partials/hooks/%s-cached.html" $context.hook -}}
{{- $loaded := false -}}

{{- /* execute hook if it exists */ -}}
{{- if templates.Exists $partialHook -}}
  {{- if not (
          or
            (in site.Params.dnb.hooks.disable_messages "running_hooks")
            (in site.Params.dnb.hooks.disable_messages "running_uncached_hooks")
  ) -}}
    {{- partials.Include "debug.html" (dict
        "message" (printf "running hook `%s`" (printf "%s" $context.hook))
        "context" .
        "severity" "info"
        "level" 9
    ) -}}
  {{- end -}}
  {{- partials.Include $partialHook $context -}}
  {{- $loaded = true -}}
{{- end -}}

{{- /* execute cached hook if it exists */ -}}
{{- if templates.Exists $partialHookCached -}}
  {{- if not (
          or
            (in site.Params.dnb.hooks.disable_messages "running_hooks")
            (in site.Params.dnb.hooks.disable_messages "running_cached_hooks")
    ) -}}
    {{- partials.Include "debug.html" (dict
        "message" (printf "running cached hook `%s`" (printf "%s" $context.hook))
        "context" .
        "severity" "info"
        "level" 9
      ) -}}
  {{- end -}}
  {{- partials.IncludeCached $partialHookCached $context $context.hook -}}
  {{- $loaded = true -}}
{{- end -}}

{{- /* if no file based hooks ran then check for folder based hooks */ -}}
{{- if eq $loaded false -}}
  {{- $partialHookFolder := printf "layouts/partials/hooks/%s/" $context.hook -}}
  {{- if fileExists $partialHookFolder -}}
    {{- partials.Include "debug.html" (dict
      "message" (printf "running folder hooks for `%s`" (printf "%s" $context.hook))
      "context" .
      "severity" "info"
      "level" 9
    ) -}}
    {{- range os.ReadDir $partialHookFolder -}}
      {{- if not .IsDir }}
        {{- $partialHook := printf "%s%s" $partialHookFolder .Name -}}
        {{- partials.Include $partialHook $context $context.hook -}}
        {{- $loaded = true -}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{/* find plugin hooks */}}
{{/* @todo fix weighting of hooks */}}
{{- with index site.Params.dnb.hooks $context.hook -}}
  {{- warnf "plugin hooks are experimental" -}}
  {{- range . -}}
    {{- /* execute hook if it exists */ -}}
    {{- if templates.Exists .partials.Include -}}
        {{- partials.Include "debug.html" (dict
            "message" (printf "running hook `%s` from `%s`" (printf "%s" $context.hook) .partial)
            "context" .
            "severity" "info"
            "level" 9
        ) -}}
        {{ if .cached }}
          {{- partials.IncludeCached .partials.Include $context . -}}
        {{ else }}
          {{- partials.Include .partials.Include $context -}}
        {{ end }}
        {{- $loaded = true -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* send out a note if the hook is not used */ -}}
{{- if eq $loaded false -}}
  {{- if not (in site.Params.dnb.hooks.disable_messages "unused_hooks") -}}
    {{- partials.Include "debug.html" (dict
        "message" (printf "unused hook `%s`" (printf "%s" $context.hook))
        "context" .
        "severity" "info"
        "level" 9
    ) -}}
  {{- end -}}
{{- end -}}
