{{- partials.Include "func/hook.html" ( dict "hook" "head-styles-before" "context" . ) -}}
{{- $config := site.Params.dnb.head.styles -}}
{{- if compare.Eq "postcss" ($config.method | compare.Default "postcss") -}}
  {{- $entrypoint := $config.entrypoint | compare.Default "scss/style.scss" -}}
  {{- $styles := resources.Get $entrypoint -}}
  {{- $styles = $styles | css.Sass $config.options -}}
  {{- $styles = $styles | css.PostCSS -}}
  {{- $styles = $styles | resources.Minify -}}
  {{- $styles = $styles | resources.Fingerprint "sha512" -}}
  {{- $styles = $styles | resources.PostProcess -}}
  {{- if compare.Eq "preload" ($config.options.outputType | compare.Default "direct") -}}
    <link rel="preload" href="{{- $styles.Permalink -}}" as="style"
          media="all" integrity="{{- $styles.Data.Integrity -}}"
          onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
      <link rel="stylesheet" href="{{- $styles.Permalink -}}"
            media="all" integrity="{{- $styles.Data.Integrity -}}">
    </noscript>
  {{- else -}}
    <link rel="stylesheet" media="all" integrity="{{- $styles.Data.Integrity -}}" href="{{- $styles.Permalink -}}">
  {{- end -}}
{{- end -}}
{{- partials.Include "func/hook.html" ( dict "hook" "head-styles-after" "context" . ) -}}
