{{- $link := .link -}}
{{- $images := .images -}}
{{- $break_points := .break_points -}}
{{- $title := .title -}}
{{- $context := .context -}}
{{- $class := .class | default "img-fluid" -}}

{{- $largest := (sub (len $images) 1) -}}
{{ $largestImage := (index $images $largest) }}

<figure class="aspect-auto" style="max-width: {{ $largestImage.Width }}px;">
  {{- with $link -}}<a href="{{- . -}}">{{- end -}}
  <picture>
    {{- range $index, $image := $images -}}
      <source
        srcset="{{- $image.Permalink -}}"
        media="(max-width: {{- index $break_points $index -}}px)"
      />
      {{- if eq $index (sub (len $images) 1) -}}
        <source srcset="{{- $image.Permalink -}}" />
        {{- $alt := $title -}} {{- if eq $alt "" -}} {{- $alt = $context.Title -}}{{- end -}}
        <img
          class="{{- $class -}}"
          src="{{- $image.Permalink -}}"
          alt="{{- $alt | plainify -}}"
          {{ if eq .MediaType.SubType "svg" }}{{/* no image processing for non-raster images */}}{{ else }}
            width="{{- $image.Width -}}"
            height="{{- $image.Height -}}"
          {{ end }}
          loading="lazy"
          fetchpriority="low"
        />
      {{- end -}}
    {{- end -}}
  </picture>
  {{- with $link -}}</a>{{- end -}}
</figure>
