{{/* article image */}}

{{/* SETUP */}}
{{- $config := partialCached "func/getPiotureConfiguration.html" . -}}
{{- $context := . -}}
{{- $link := $context.Permalink -}}

{{- $default_image := $config.default_image | default "images/default.png" -}}

{{- $aspect_ratio := $config.aspect_ratio | default "false" -}}
{{- $aspect_ratio = (split $aspect_ratio ":") -}}

{{- $image_sizes := $config.responsive.image_sizes | default (slice "494" "517" "674" "914") -}}
{{- $break_points := $config.responsive.break_points | default (slice "520" "540" "720" "960") -}}

{{/* preparing aspect_ratio image sizes - once sitewide */}}
{{- $arOptions := dict "image_sizes" $image_sizes "aspect_ratio" $aspect_ratio }}
{{- $image_sizes2 := partialCached "func/pictures/getARImagesizes.html" $arOptions $arOptions -}}

{{/* retrieve the article image */}}
{{- $articleimage := partial "images/getArticleImage.html" $context -}}

{{- with $articleimage -}}
  {{ $image := . }}

  {{- $title := "" -}}
  {{/* if a title is set via frontmatter then use it as caption */}}
  {{- if ne $image.Title $image.Name -}}
    {{- $title = $image.Title | markdownify -}}
  {{- end -}}

  {{- $images := slice -}}
  {{- range $index, $value := $image_sizes -}}
    {{- $imagesize := printf "%sx%s Center" (string $value) (string (index $image_sizes2 $index)) -}}
    {{- $images = $images | append ($image.Fill $imagesize) -}}
  {{- end -}}

  {{ $imageOptions := dict "images" $images "link" $link
          "break_points" $break_points "title" $title "context" $context }}
  {{ partial "images/markup-image.html" $imageOptions }}

{{- end -}}
