<script src="/search/pagefind-ui.js" type="text/javascript"></script>
<div id="pagefind"></div>
<script>
  window.addEventListener("DOMContentLoaded", (event) => {
    new PagefindUI({
      baseUrl: "/",
      element: "#pagefind",
      resetStyles: false,
      bundlePath: "/search/",
      debounceTimeoutMs: 500,
      pageSize: 9,
      highlightParam: "highlight",
    });
    const myTimeout = setTimeout(function () {
      document.getElementsByClassName("pagefind-ui__search-input")[0].focus();
    }, 750);
  });
</script>
