{{- /* https://schema.org/WebSite

@todo add "translationOfWork": ""
@todo add "translator": ""

*/ -}}

{{- $structure := collections.Dictionary



-}}
{{- return $structure -}}

{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "@id": "{{ site.BaseURL }}",
  "additionalType": ["CreativeWork", "Person"],
  "name": "{{ site.Title }}",
  "description": "{{ site.Params.description }}",
  "image": [ {{ range $i, $e := site.Params.images }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }} ],
  "url": "{{ site.BaseURL }}",
  "author": "{{ index $.Params "author.name" }}",
  {{ with site.Params.issn }}"issn": "{{ . }}",{{ end }}
  "copyrightHolder": {
    "givenName": "{{ site.Params.siteowner.given_name }}",
    "additionalName": "{{ site.Params.siteowner.middle_name }}",
    "familyName": "{{ site.Params.siteowner.family_name }}",
    "gender": "{{ site.Params.gender }}",
    "knowsLanguage": [ {{ range $i, $e := site.Params.knowslanguages }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }} ],
    "nationality": "{{ site.Params.nationality }}",
    "alternateName": [ {{ range $i, $e := site.Params.alternatenames }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }} ],
    "url": "{{ site.Params.ownerhomepage | safeHTML }}",
    "@type": "Person"
  },
  "copyrightNotice": "{{ site.Params.copyrightnotice }}",
  "copyrightYear": "{{ site.Params.copyrightyear }}",
  "creativeWorkStatus": "Published",
  "creditText": "{{ index $.Params  "author.name" }} {{ index $.Params  "author.homepage" }}",
  "datePublished": "{{ site.Params.copyrightyear }}",
  "acquireLicensePage": "{{ site.Params.license }}",
  "license": "{{ site.Params.license }}",
  "usageInfo": "{{ site.Params.license }}",
  {{ with site.Params.awards }}"award": [ {{ range $i, $e := site.Params.awards }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }} ],{{ end }}
  "inLanguage": "{{ .Language.Params.languagecodehtml }}",
  "keywords": [ {{ range $i, $e := site.Params.keywords }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }} ],
  "publisher": {
    "name": "{{ site.Title }}",
    "logo": {
      "url": "{{ site.Params.logourl | absURL }}",
      "height": 60,
      "width": 107,
      "@type": "ImageObject"
    },
    "@type": "Organization"
  }
}
