.debugprint table,
table.debugprint {

  width: 100%;
  border: 1px solid #ccc;

  td,
  th {
    padding: 0.125rem;
    vertical-align: top;
    border: 1px solid #ccc;
  }

  th {
    font-weight: bold;
    text-transform: uppercase;
  }

  .true {
    color: green;
  }

  .false {
    color: red;
  }
}
