{{- $config := .Params.config -}}
{{- $global := site.Params.dnb.robots -}}

{{- $follow := "follow" -}}
{{- with $config.follow -}}
  {{- if eq true . -}}
    {{- $follow = "follow" -}}
  {{- else -}}
    {{- $follow = "nofollow" -}}
  {{- end -}}
{{- else -}}
  {{- if isset $global "follow" -}}
    {{- if ne $global.follow true | default true -}}
      {{- $follow = "nofollow" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $index := "index" -}}
{{- with $config.index -}}
  {{- if eq true . -}}
    {{- $index = "index" -}}
  {{- else -}}
    {{- $index = "noindex" -}}
  {{- end -}}
{{- else -}}
  {{- if in (slice "section" "home" "taxonomy") page.Kind -}}
    {{- $index = "noindex" -}}
  {{- end -}}
  {{- if isset $global "follow" -}}
    {{- if ne $global.index true | default true -}}
      {{- $index = "noindex" -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* and finally printing the robots tag */ -}}
<meta name="robots" content="{{- $index -}},{{- $follow -}}" />
