{{- $pc := site.Config.Privacy.YouTube -}}
{{- if not $pc.Disable -}}
  {{- $id     := .Get "id"    | compare.Default (.Get 0) -}}
  {{- $class  := .Get "class" | compare.Default (.Get 1) -}}
  {{- $title  := .Get "title" | compare.Default (.Get 2) -}}
  {{- $playlabel := .Get "playlabel" | compare.Default "Play video" -}}
  {{- $params := .Get "params" | compare.Default (partials.IncludeCached "func/prepareApiParams.html" .) -}}
  {{- $thumbnailUrl := partials.IncludeCached "func/getYTPreviewUrl.html" $id $id -}}
  {{ with .Get "preview" -}}
    {{- $thumbnailUrl = dict "maxres" . -}}
  {{ end -}}
  <div class="shortcode--youtube {{ with $class -}}{{- . -}}{{- end -}}">
    <lite-youtube
      videoid="{{- $id -}}" {{ with $playlabel -}}
      playlabel="{{- . -}}" {{ end -}} {{ with $title -}}
      title="{{- . -}}" {{ end -}}
      params="{{- $params -}}"
      style="background-image: url('{{- $thumbnailUrl.maxres -}}');">
      <button type="button" class="lty-playbtn" aria-label="{{- $playlabel -}}">
        {{- with $playlabel -}}<span class="lyt-visually-hidden">{{- . -}}</span>{{- end -}}
      </button>
    </lite-youtube>
    {{- with page.Store.Get "youtube-embed-assets-included" -}}
      {{/* do nothing, already included */}}
    {{- else -}}
      {{/* include the assets only once per page */}}
      {{- $cssTemplate := resources.Get "css/lite-yt-embed.css" -}}
      {{- $options := (dict
            "outputStyle" "compressed"
            "enableSourceMap" false
      ) -}}
      {{- $style := $cssTemplate | resources.Minify -}}
      {{- $secureCSS := $style | resources.Fingerprint "sha512" -}}
      <style integrity="{{- $secureCSS.Data.Integrity -}}">
        {{- $secureCSS.Content | safeCSS -}}
      </style>
      {{- with resources.Get "js/lite-yt-embed.js" -}}
        {{- $opts := dict "minify" true -}}
        {{- with . | js.Build $opts -}}
          {{- with . | fingerprint -}}
            <script integrity="{{- .Data.Integrity -}}">
            {{- .Content | safeJS -}}
            </script>
          {{- end -}}
        {{- end -}}
      {{- end }}
      {{- page.Store.Set "youtube-embed-assets-included" true -}}
    {{- end -}}
  </div>
{{- end -}}
