{{- $config := index site.Params.dnb.icons site.Params.dnb.icons.default -}}
{{- $iconname := .icon | default "dash-square-dotted" -}}
<svg{{ with .width }} width="{{- . -}}"{{ end }}{{ with .height }} height="{{- . -}}"{{ end }}
  version="2.0" class="icon icon-{{- $iconname }} {{ .class -}}">
  {{- $icons := page.Scratch.Get "icons" -}}
  {{- if eq (index $icons $iconname) true -}}
  {{- else -}}
    {{- $iconpath := printf $config.path $iconname -}}
    {{- $content := "" -}}
    {{- $content = os.ReadFile $iconpath | safeHTML -}}
    {{- $replaceId := printf "id=%q" $iconname | safeHTMLAttr -}}
    {{- $replacement := printf "<symbol %s " $replaceId -}}
    {{- $content = replace $content "<svg " $replacement 1 -}}
    {{- $content = replace $content "</svg>" "</symbol>" 1 -}}
    {{- page.Scratch.SetInMap "icons" $iconname true -}}
    {{- $content | safeHTML -}}
  {{- end -}}
  <use href="#{{- $iconname -}}"{{ with .width }} width="{{- . -}}"{{ end }}{{ with .height }} height="{{- . -}}"{{ end }} />
</svg>
