{{- $icontype := site.Params.dnb.icons.default -}}
{{- with .type -}}
  {{- $icontype = . -}}
{{- end -}}
{{- $config := collections.Index site.Params.dnb.icons $icontype -}}
{{- $iconname := .icon | compare.Default "dash-square-dotted" -}}
<svg{{ with .width }} width="{{- . -}}"{{ end }}{{ with .height }} height="{{- . -}}"{{ end }}
  version="2.0" class="icon icon-{{- $iconname }} {{ .class -}}">
  {{- $icons := .Scratch.Get "icons" -}}
  {{- if compare.Eq (collections.Index $icons $iconname) true -}}
  {{- else -}}
    {{- $iconpath := fmt.Printf $config.path $iconname -}}
    {{- $content := "" -}}
    {{- $content = os.ReadFile $iconpath | safe.HTML -}}
    {{- $replaceId := fmt.Printf "id=%q" $iconname | safe.HTMLAttr -}}
    {{- $replacement := fmt.Printf "<symbol %s " $replaceId -}}
    {{- $content = strings.Replace $content "<svg " $replacement 1 -}}
    {{- $content = strings.Replace $content "</svg>" "</symbol>" 1 -}}
    {{- .Scratch.SetInMap "icons" $iconname true -}}
    {{- $content | safe.HTML -}}
  {{- end -}}
  <use href="#{{- $iconname -}}"{{ with .width }} width="{{- . -}}"{{ end }}{{ with .height }} height="{{- . -}}"{{ end }} />
</svg>
