{{- $length := .length -}}
{{- $class := "danger" -}}
{{- $minLength := .minlength -}}
{{- $maxLength := .maxlength -}}
{{- $threshold := .threshold -}}

{{- if gt $length $maxLength -}}
  {{- if gt $length (math.Add $maxLength $threshold) -}}
    {{- $class = "danger" -}}
  {{- else -}}
    {{- $class = "warning" -}}
  {{- end -}}
{{- else if lt $length $minLength}}
  {{- if lt $length (math.Sub $minLength $threshold) -}}
    {{- $class = "danger" -}}
  {{- else -}}
    {{- $class = "warning" -}}
  {{- end -}}
{{- else -}}
  {{- $class = "success" -}}
{{- end -}}
{{- return $class -}}
