{{- $configtype := printf "%T" . -}}
{{- $iconname := "" -}}
{{- $width := 20 -}}
{{- $height := 20 -}}
{{- $class := "" -}}
{{- $type := "bs" -}}

{{- if in $configtype "map" -}}
  {{- $iconname = .icon -}}
  {{- with .width -}}{{ $width = . }}{{- end -}}
  {{- with .height -}}{{ $height = . }}{{- end -}}
  {{- with .class -}}{{ $class = . }}{{- end -}}
{{- else -}}
  {{- $iconname = . -}}
{{- end -}}

{{- $options := dict "icon" $iconname "width" $width
                     "height" $height "class" $class -}}
<span class="icon--{{- $type }} icon--{{- $iconname -}}">
  {{- partial "icons/use.html" $options -}}
</span>
