<div class="container">
  <div class="row">
    <div class="col-12 px-0">
      {{- $names := slice
            ".AlternativeOutputFormats"
            ".Aliases"
            ".Content"
            ".Data"
            ".Date"
            ".Description"
            ".Draft"
            ".ExpiryDate"
            ".File"
            ".FuzzyWordCount"
            ".IsHome"
            ".IsNode"
            ".IsPage"
            ".IsSection"
            ".Keywords"
            ".Kind"
            ".Language"
            ".Lastmod"
            ".Layout"
            ".Name"
            ".LinkTitle"
            ".Next"
            ".NextInSection"
            ".NextPage"
            ".OutputFormats"
            ".Pages"
            ".Permalink"
            ".Plain"
            ".PlainWords"
            ".Prev"
            ".PrevInSection"
            ".PrevPage"
            ".PublishDate"
            ".RawContent"
            ".ReadingTime"
            ".Resources"
            ".ResourceType"
            ".RelPermalink"
            ".Section"
            ".Site"
            ".Sites"
            ".Sites.First"
            ".Summary"
            ".TableOfContents"
            ".Title"
            ".Translations"
            ".TranslationKey"
            ".Truncated"
            ".Type"
            ".Weight"
            ".WordCount" -}}
      {{- $items := slice
            .AlternativeOutputFormats
            .Aliases
            .Content
            .Data
            .Date
            .Description
            .Draft
            .ExpiryDate
            .File
            .FuzzyWordCount
            .IsHome
            .IsNode
            .IsPage
            .IsSection
            .Keywords
            .Kind
            .Language
            .Lastmod
            .Layout
            .Name
            .LinkTitle
            .Next
            .NextInSection
            .NextPage
            .OutputFormats
            .Pages
            .Permalink
            .Plain
            .PlainWords
            .Prev
            .PrevInSection
            .PrevPage
            .PublishDate
            .RawContent
            .ReadingTime
            .Resources
            .ResourceType
            .RelPermalink
            .Section
            .Site
            .Sites
            .Sites.First
            .Summary
            .TableOfContents
            .Title
            .Translations
            .TranslationKey
            .Truncated
            .Type
            .Weight
            .WordCount -}}
      <table class="debugprint">
        <thead>
          <tr>
            <th class="key">
              Key
            </th>
            <th class="type">Type</th>
            <th class="value">Value</th>
          </tr>
        </thead>
        <tbody>
         {{- range $index, $item := $items -}}
            {{- $slices := slice
                (index $names $index)
                (partial "debugtype.html" $item)
                (partial "debugprint.html" $item) -}}
            <tr>{{- range $index, $item := $slices -}}
              {{- if (eq $index 0) -}}
                <th>{{- . -}}</th>
              {{- else -}}
                <td>{{- . -}}</td>
              {{- end -}}
            {{- end -}}</tr>
          {{- end -}}
        </tbody>
      </table>
    </div>
  </div>
</div>
