<table class="debugprint">
  <tr>
    <th class="align-top key">FileInfo Variable</th>
    <th class="align-top type">Type</th>
    <th class="align-top value">Value</th>
  </tr>
  {{ $value := .value }}
  {{ range site.Data.dnb.debug.types.fileinfo.fields }}
  {{ $valuePrinted := partial "func/eval.html" (dict "context" $value "cmd" (printf ".%s" .variable)) }}
    <tr>
    <td class="align-top key nowrap" title="{{ .description }}">.{{ .title }}</td>
    <td class="align-top type nowrap">
      <span class="badge text-bg-info uppercase">
        {{ partial "debugtype.html" $valuePrinted }}
      </span>
    </td>
    <td class="align-top value">
      {{ partial "debugprint.html" $valuePrinted }}
   </td>
   </tr>
  {{ end }}
</table>
