{{ $siteVarNames   := (slice "Title" "Author" "Social" "LastChange" "GoogleAnalytics" "Copyright" "RSSLink" "LanguageCode" "BuildDrafts" "Params") }}
{{ $siteVarSymbols := (slice .value.Title  .value.Author  .value.Social  .value.LastChange  .value.GoogleAnalytics
              .value.Copyright  .value.RSSLink  .value.LanguageCode  .value.BuildDrafts  .value.Params ) }}

      <div class="table-responsive">
      <table class="debugprint">
  <tr>
      <th scope="col" class="align-top key">SiteInfo Variable</th>
      <th scope="col" class="align-top value">Value</th>
  </tr>
  {{ range $idx, $elem := $siteVarNames }}
    {{ printf `<tr> <td class="align-top key">%s</td> <td class="align-top value">` $elem | safeHTML }}
    {{ partials.Include "debugprint.html" (index $siteVarSymbols $idx) }}
    {{ printf "</td></tr>" | safeHTML }}
  {{ end }}
</table>
</div>
